# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
coverage/

# turbo
.turbo/

# env
.env*
!.env.example

# prisma
packages/database/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# misc
*.tsbuildinfo
.eslintcache

# docker volumes (local dev data)
infra/docker/.data/
